@import "./base.css";

 :root{
   /* COLORS */

   --background:hsl(228, 21%, 10%);
   --background-20: #282d3e;
   --font-primary: hsl(25, 39%, 66%);
   --accent-color: hsl(240, 24%, 80%);

   /* GRADIENT COLORS */
   --g1: #caa387;
   --g2: #7d4477;
   --g3: #13151d;
    /* --orange:rgb(202, 163, 135); */
 }
 main{
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow-x: hidden;
 }
 .section-header{
    color: var(--font-primary);
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    padding:0.5rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid var(--g2);
    max-width: 19rem;
 }
 .link{
   height: 3rem;
   width: 8rem;

   font-size: 1rem;
   font-weight: 700;
   text-decoration: none;
   background-color: rgb(0, 172, 112);
   border-radius: 5px;
   color: white;

   display: flex;
   align-items: center;
   justify-content: center;
}
.link-wrapper{
   display: flex;
   width: 90%;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}
.link:hover{
   background-color: rgb(2, 187, 122);
   color: rgb(51, 54, 63);
}
@keyframes fade-in{
   from {opacity: 0;}
   to {opacity: 1}
}
.hidden{
   opacity: 0;
}
.fade-in-transition{
   animation: fade-in;
   animation-duration: 2s;
}
@keyframes fade-up{
   from{
       margin-top: 100px;
       opacity: 0;
   }
   to{
       margin-top: 0px;
       opacity: 1;
   }
}
.fade-up{
   animation: fade-up;
   animation-duration: 2s;
}
@keyframes fadeOut{
   from{
       opacity: 1;
   }
   to{
       opacity: 0;
   }
}
.fade-out-transition{
   animation: fadeOut;
   animation-duration: 1s;
}
body{
   scrollbar-width: normal;
   scrollbar-color: var(--font-primary) rgba(40, 43, 52, 0.2);
}
body::-webkit-scrollbar{
   width: 5px;
   background-color: rgba(40, 43, 52, 0.9);
}
body::-webkit-scrollbar-thumb{
   border-radius: 0.4vw;
   height: 30px;
   background-color: var(--font-primary);
}
body::-webkit-scrollbar-thumb:hover{
   border-radius: 5px;
   height: 30px;
   background-color: var(--font-primary);
}
body::-webkit-scrollbar-track{
   background-color: rgba(40, 43, 52, 0.9);
   border-radius: 5px;
}
.flow-hidden{
   overflow: hidden;
}
@media only screen and (max-width:750px){
   .link{
      width: 6rem;
   }
}